body, html {
  height:100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(186, 186, 186);
  font-family: sans-serif;
  font-weight: bold;
  overflow: hidden;
}

.mainDiv {
  position: relative;
  box-sizing: border-box;
  background-color: rgb(186, 186, 186);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
  overflow: hidden;
}

.topnav {
  position: absolute;
  top: 0;
  background-color: rgba(56, 56, 56,1);
  overflow: hidden;
  width: 100%;
  z-index: 10;
  align-items: center;
}

.topnav a {
  float: left;
  color: rgb(186, 186, 186);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5vw;
  transform: skewX(-20deg);
}

.topnav a:hover {
  background: -webkit-linear-gradient(45deg, rgb(186,186,186),rgb(56, 56, 56));
  background: linear-gradient(45deg, rgb(186,186,186),rgb(56, 56, 56));
  color: rgb(4, 86, 4);
}

.topnav a span {
  display: block;
  transform: skewX(20deg);
}

#navText {
  margin-left: 0.7%;
}

.topnav a.active {
  background: -webkit-linear-gradient(45deg, rgb(4,86,4),rgb(56, 56, 56));
  background: linear-gradient(45deg, rgb(4,86,4),rgb(56, 56, 56));
  color: rgb(186, 186, 186);
  font-size: 1.5vw;
}

.circleBase {
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  left: 0%;
}
.circle1 {
  width: 60%;
  height: 200%;
  background: rgb(4, 86, 4);
  position: absolute;
  left: -30%;
}
.circle2 {
  width: 60%;
  height: 200%;
  position: absolute;
  left: 20%;
  background: rgb(186, 186, 186);
}

.about-section {
  width: 100%;
  text-align: right;
  height: 100%;
  z-index: 0;
  top: 20%;
  background-color: transparent;
}

h1 {
  color: rgb(4, 86, 4);
  font-weight: bold;
  position: absolute;
  font-size: 3vw;
  right: 10%;
  top: 5%;
}

h2 {
  color: rgb(4, 86, 4);
  font-weight: bold;
  position: absolute;
  text-decoration: underline;
  font-size: 2vw;
  right: 10%;
  top: 15%;
}

.text1 {
  color: rgba(56, 56, 56, 1);
  position:absolute;
  font-weight: bold;
  font-size: 1.5vw;
  right: 10%;
  width: 70%;
  top: 21%;
  height: 100%;
}

h3 {
  color: rgb(4, 86, 4);
  font-weight: bold;
  position: absolute;
  text-decoration: underline;
  font-size: 2vw;
  right: 10%;
  top: 60%;
}

ul {
  display: inline-block;
  color: rgba(56, 56, 56, 1);
  position:absolute;
  font-weight: bold;
  right: 10%;
  width: 40%;
  top: 67%;
  height: 100%;
  list-style-type: none;
  padding-left: 40px;
  font-size: 1.2vw;
  color: rgba(56, 56, 56, 1);
  text-align: center;
}

ul li {
  text-align: right;
  padding-top: 1%;
}


@media screen and (max-width: 650px) {
  
  .topnav a {
    font-size: 4vw;
  }
  
  .topnav a.active {
    font-size: 4vw;
  }
  
h1 {
  font-size: 3.5vh;
}

h2 {
  font-size: 2.5vh;
  top: 10%;
}

.text1 {
  font-size: 2vh;
  top: 15%;
}

h3 {
  font-size: 2.5vh;
  top: 72%;
}
ul {
  font-size: 2.5vw;
  width: 65%;
  top: 77%;
  text-align: right;
}
}