body, html {
  height:100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(186, 186, 186);
  font-family: sans-serif;
  font-weight: bold;
  overflow: hidden;
}

.mainDiv {
  position: relative;
  box-sizing: border-box;
  background-color: rgb(186, 186, 186);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
  overflow: hidden;
}

.topnav {
  position: absolute;
  top: 0;
  background-color: rgba(56, 56, 56,1);
  overflow: hidden;
  width: 100%;
  z-index: 10;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  z-index: 2;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(186, 186, 186);
  color: rgb(4, 86, 4);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(4, 86, 4);
  color: black;
  font-size: 20px;
}

.circleBase {
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  left: 0%;
}
.circle1 {
  width: 60%;
  height: 200%;
  background: rgb(4, 86, 4);
  position: absolute;
  left: -30%;
}
.circle2 {
  width: 60%;
  height: 200%;
  position: absolute;
  left: 20%;
  background: rgb(186, 186, 186);
}

.about-section {
  width: 100%;
  text-align: right;
  height: 100%;
  z-index: 0;
  top: 20%;
  background-color: transparent;
}

h1 {
  color: rgb(4, 86, 4);
  font-weight: bold;
  position: absolute;
  font-size: 3vw;
  right: 10%;
  top: 5%;
}

h2 {
  color: rgb(4, 86, 4);
  font-weight: bold;
  position: absolute;
  text-decoration: underline;
  font-size: 3vw;
  right: 10%;
  top: 15%;
}

.text1 {
  color: rgba(56, 56, 56, 1);
  position:absolute;
  font-weight: bold;
  font-size: 1.5vw;
  right: 10%;
  width: 70%;
  top: 25%;
  height: 100%;
}

h3 {
  color: rgb(4, 86, 4);
  font-weight: bold;
  position: absolute;
  text-decoration: underline;
  font-size: 2vw;
  right: 10%;
  top: 65%;
}

ul {
  display: inline-block;
  color: rgba(56, 56, 56, 1);
  position:absolute;
  font-weight: bold;
  right: 10%;
  width: 40%;
  top: 72%;
  height: 100%;
  list-style-type: none;
  padding-left: 40px;
  font-size: 1.2vw;
  color: rgba(56, 56, 56, 1);
  text-align: center;
}

ul li {
  text-align: right;
  padding-top: 1%;
}


@media screen and (max-width: 650px) {
  
  .topnav a {
    font-size: 4vw;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    font-size: 4vw;
  }
  
h1 {
  color: rgb(4, 86, 4);
  font-weight: bold;
  position: absolute;
  font-size: 3.5vh;
  right: 10%;
  top: 5%;
}

h2 {
  color: rgb(4, 86, 4);
  font-weight: bold;
  position: absolute;
  text-decoration: underline;
  font-size: 2.5vh;
  right: 10%;
  top: 10%;
}

.text1 {
  color: rgba(56, 56, 56, 1);
  position:absolute;
  font-weight: bold;
  font-size: 2vh;
  right: 10%;
  width: 70%;
  top: 15%;
  height: 100%;
}

h3 {
  color: rgb(4, 86, 4);
  font-weight: bold;
  display: block;
  text-decoration: underline;
  font-size: 2.5vh;
  right: 10%;
  top: 72%;
}
ul {
  font-size: 2.5vw;
  width: 65%;
  top: 77%;
  text-align: right;
}
}